.App {
  text-align: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


.geography {
  outline: none;
}

.france-map {
  width: 50%;
  height: 50%;
}

.config {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game {
  display: flex;
  align-items: top;
  flex-direction: row;
  margin: 20px;
}

.table-input {
  align-self: flex-start;
  table-layout: fixed;
  width: 600px;
}

.table-input td + .table-input th{
  padding: 0;
}

.code {
  width: 10%;
}

.name + .chef-lieu{
  width: 31%;
}

.code input{
  box-sizing: border-box;
  width: 100%;
}

.table-container {
  flex:1;
  overflow-y: auto;
}

.table-input input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  display: block;
  border: none;
  font-size: 16px;
  text-align:center;
}
