:root {
  --header-height: 60px;
}

body {
  margin-top: -34px;
}

.App {
  text-align: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  height: var(--header-height);
}

.App-link {
  color: #61dafb;
}


.geography {
  outline: none;
}

.france-map {
  grid-area: map;
  width: 100%;
  height: 100%;
}

.config {
  grid-area: config;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-areas: 
    "config map"
    "table  map";
  grid-template-columns: 40% 60%;
  grid-template-rows: 150px calc(100vh - var(--header-height) - 150px);
}

.table-input {
  align-self: flex-start;
  table-layout: fixed;
  width: 600px;
  margin-bottom: 30px;
}

.table-input td + .table-input th{
  padding: 0;
}

.code {
  width: 10%;
}

.name + .chef-lieu{
  width: 31%;
}

.code input{
  box-sizing: border-box;
  width: 100%;
}
.locate {
  box-sizing: border-box;
  width: 12%;
}

.table-container {
  grid-area: table;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.table-input input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: block;
  border: none;
  font-size: 16px;
  text-align:center;
}


.locate-img {
  height: 20px;
  cursor: pointer;
}
